<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <p class="title">Realtime tracking for the MBTA Bus, Subway and Commuter Rail public transports</p>
        </div>
    </div>
</section>
<section class="section">
    <ul class="tile is-ancestor">
        <li class="tile is-parent level-item">
            <a class="is-3 box">Subway</a>
        </li>
        <li class="tile is-parent level-item">
            <a class="is-3 box">Bus</a>
        </li>
        <li class="tile is-parent level-item">
            <a class="is-3 box">Commuter Rail</a>
        </li>
    </ul>
</section>